<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>How to Play</title>
</head>
<body>
<h2>Rules</h2>
<div>
  This game is called Viral Survival. You start out as a red virus, and you need to go into the green cell. When you do
  that, you take control of it. Then the <em>real</em> game begins. You take control of that cell, and 2 white
  cells spawn. If you go into them, you lose and it is game over. If you hit the space bar as a cell, you shoot out a
  virus minion that can destroy the white cells. When you destroy a white cell, it respawns around the middle of the
  map, so stay away from there. Each time a white cell respawns, it gets a little faster. Every time you destroy a cell,
  you gain 20 points. You can only have 1 virus minion out at a time. it is destroyed if it goes out of the map. If a
  NPC goes to the end of the map, it changes direction in order for it not to leave tha map. If you go out of the map,
  you come back in at the other side of the map. (For example, if you keep going left, you will eventually end up
  <em>right</em> where you started.) There is a reset button on the bottom of the screen for when you get Game Over and
  want to retry. When you get game over, your screen will become red, and you will need to reset.
</div>
<br>
<h2>Controls</h2>
<div>WASD to move, Space to shoot virus minion (After taking over green cell).</div>
<br>
<a href="/viral_survival">
  <button type="button" class="btn btn-primary">Play</button>
</a>
<br>
<br>
<a href="/images/negative_nancy.jpg">
  <button style="text-align: center; width: auto" type="button" class="btn btn-success">Click here for life advice</button>
</a>
</body>
</html>