<html>
<head>
  <!--CSS-->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="//bootswatch.com/cyborg/bootstrap.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<%= yield %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/mikeflynn/egg.js/master/egg.min.js"></script>
<script src="/js/jawascript.js"></script>

</body>
</html>