<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Viral Survival</title>
</head>
<body>
<canvas id="canvas" width="1337" height="650"></canvas>
<span>Points:</span>
<span id="score"></span>

<a href="/viral_survival">
  <button type="button" class="btn btn-danger">Reset</button>
</a>
</body>
</html>