<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Viral Survival</title>
</head>
<body>
<canvas id="canvas" width="1337" height="650"></canvas>
<div>Points:</div>
<div id="score"></div>
<a href="/viral_survival">
  <button type="button">Reset</button>
</a>
</body>
</html>